.today {
    background-color: #fbdb86;

    &:hover {
        background-color: #eec657 !important;
    }
}

.dayBorder {
    border: 1px solid rgb(41, 41, 41);
    width: 58px;
    height: 58px;
}

.notThisMonth {
    color: rgb(211, 211, 211);
}

.focusDay {
    background-color: rgb(99, 190, 218);

    &:hover {
        background-color: rgb(89, 168, 192) !important;
    }
}