.container_main {
    display: flex;
    justify-content: center;

    .left {
        min-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 20px;

        .left_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(179, 179, 179);
            height: 35px;
        }
    }

    .right {
        width: 50%;
        background-color: rgb(179, 179, 179);
        margin-top: 20px;
        margin-bottom: 20px;

        .right_header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            margin: 0;
            background-color: #5d626b;
        }
    }
}