.table {
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
    width: 400px;

    thead {
        color: #f5d376;
        font-size: 18px;

        tr {
            width: 40px;

            th {
                font-weight: 400;
                padding-bottom: 20px;
            }
        }
    }

    tbody {
        font-size: 18px;
        text-align: center;

        tr {
            height: 57px;

            td {
                font-weight: 400;
                border-radius: 50%;

                &:hover,
                &:focus {
                    background-color: pink;
                }

                &:active {
                    background-color: rgb(228, 133, 148);
                }
            }

            .notThisMonth {

                &:hover,
                &:focus,
                &:active {
                    background-color: white;
                }
            }
        }
    }
}